# ebindkeys-zipit config file

# specifying a device is mandatory.
dev = "/dev/input/event1"

# if, for some odd reason, you don't want ebindkeys to fork 
# at start up, uncomment the below. Default is Yes
#daemon = no

event
{
	# CTRL-Options: TOGGLE action turns on or off ebindkeys mappings
	action = "TOGGLE"
	keys = {0x1d,0x165} 
}


#event
#{
	# ESC(Smiley): Hello world example
#	action = "echo Hello World!"
#	keys = {0x01}
#}
